{% load static %}
<!DOCTYPE html>
<html lang="en">

    {% include "Include/head.html" %}

<body>

    <div class="mb-5">

        <div class="chat bg-dark d-flex justify-content-between ps-5 pe-5 pt-3 pb-3 align-items-center">

            <div>

                <h1 class="playfair-display text-light">Chat App</h1>

            </div>

            <div class="d-flex justify-content-center align-items-center gap-3">

                <a href="#" class="text-decoration-none ps-3 pe-3 btn btn-primary">Login</a>
                <a href="#" class="text-decoration-none ps-3 pe-3 btn btn-success">Sign up</a>

            </div>

        </div>

    </div>


    <div class="MainBody">

        <div class="CardContaner d-flex justify-content-evenly align-items-center">

            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">

                <img src="{% static 'Img/Chat.jpg' %}" class="card-img-top" alt="">

                <div class="card-body">

                    <h5 class="card-title">Chat App</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <a class="text-decoration-none btn-primary ps-3 pe-3 pt-2 pb-2 rounded" href="{% url "chat" %}">Go Chat</a>
    
                </div>

            </div>

            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">

                <img src="{% static 'Img/Chat.jpg' %}" class="card-img-top" alt="">

                <div class="card-body">

                    <h5 class="card-title">Social Media</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
                </div>

            </div>

            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">

                <img src="{% static 'Img/Chat.jpg' %}" class="card-img-top" alt="">

                <div class="card-body">

                    <h5 class="card-title">Social Media</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
                </div>

            </div>

        </div>

    </div>
    
</body>
</html>